@import 'http://fonts.googleapis.com/css?family=Noto+Sans';
body {
  background: #f0f0f0 url(img/pattern.png);
  margin: 0;
  padding: 0;
  
  font: 14px/20px 'Noto Sans', Helvetica, Arial;
  
  color: #222;
}
h1, h2, h3, h4 {
  margin: 0 0 15px 0;
  padding: 0;
  font-weight: normal;
}
h1 {
  font-size: 500%;
}
h2 {
  font-size: 210%;
  line-height: 150%;
}
h3 {
  font-size: 150%;
  line-height: 130%;
}

p {
  margin: 10px 0 0 0;
}

a {
  color: #A31337;
}

ul {
  list-style-type: square;
  padding-left: 30px;
  margin: 10px 0 0 0;
}

.clear {
  clear: both;
}

#main {
  background: #fff;
  width: 900px;
  padding: 35px;
  margin: 0 auto 15px auto;
  overflow: hidden;
  
  box-shadow: 0 0 6px #ccc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#title {
  margin: 0px 0 30px 0;
  line-height: 70px;
  text-align: center;
  color: #111;
}

p label {
  float: left;
  width: 80px;
  margin-right: 10px;
}
  p label span.colon {
    float: right;
  }
p span.value {
  float: left;
  width: 70%;
  display: block;
}

.section {
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.item {
  margin: 0 0 20px 0;
}

.basic-info {
  padding: 0px 0 0px 140px;
  
}
.basic-info p {
  float: left;
  width: 48%;
  margin: 0 0 0px 0;
}
.basic-info p.full {
  width: 100%;
  float: none;
}
  .basic-info .r {
    float: right;
  }

.section .title {
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  padding-bottom: 5px;
}
.section span {
  display: block;
}
.section h3 span.l, .section span.r {
  width: 49%;
  float: left;
}
  .section span.r {
    float: right;
    text-align: right;
  }
  .section .sub-title {
    font-size: 130%;
    display: block;
    margin: 5px 0 5px 0;
  }
  .section .company {
    display: inline;
    font-style: italic;
  }

@media screen and (max-width: 900px) {
  body {
    background: #fff;
  }
  
  #main {
    box-shadow: none;
    padding: 0 20px;
    width: 100%;
  }

  .basic-info {
    padding: 0 0 50px 0;
    margin: 0 auto;
    width: 300px;
  }

  .basic-info p {
    width: 100%;
  }
}

.skills {
  list-style: none;
  padding: 0;
}

.skills li {
  background: #ddd;
  border-radius: 2px;
  float: left;
  padding: 2px 6px;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) { 
  body {
    background: #f0f0f0 url(img/pattern@2X.png);
  }
}